body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: rgb(50, 50, 120);
  height: 100vh;
  max-height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 8px;
  background: white;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.die-container {
  display: grid;
  grid-template: repeat(2, 70px) / repeat(5, 70px);
  place-content: center;
  gap: 2rem;
}

.die {
  background: rgb(220, 220, 220);
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, .5);
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: rgb(70, 100, 200);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
